html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
    line-height: 1.88889;
    background-image: linear-gradient(to right, lightblue, lightgreen);
  	color: #575753; 
	 margin: 0; 
	padding: 0;
	}
h1{
    color:blue;
    margin: 20px 0 0 0;
    font-size: 60px;
    text-align: center;
}
h2{
    color:orangered;
    font-size: 50px;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}
li{
    font-size: 30px;
}
.container {
    margin:0 auto ;
    max-width: 940px; 
    padding: 0 10px;
  }
  .container1 {
    margin:auto 0 ;
    max-width: 940px; 
    padding: 0 10px;
  }
  footer { 
    text-align: center; 
    font-size: 40px;
    color:blueviolet
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}
